# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

Some of the popular languages Data Scientist use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. dplyr
3. NumPy
4. Pandas
5. SciPy

| Data Science Tools |
| ------------------ |
| Rstudio |
| Apache Spark |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
# this is a simple expression to multiply then add

In [30]:
(3*4)+5

17

In [32]:
# This will convert 200 minutes to hours by dividing by 60

In [34]:
200 / 60

3.3333333333333335

**Objectives:**

* list popular languages used in Data Science
* Commonly used libraries in Data Science
* Table of Data Science Tools

## Author
Brent